.container {
  position: relative;
  width: 274px;
  height: 426px;
}

.image_container {
  position: relative;
  margin-bottom: 14px;
  display: inline-block;
  width: 274px;
  height: 274px;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gradient_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
  border-radius: 20px;
}

.icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.icon_active {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  fill: var(--blue);
  cursor: pointer;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.name:last-child {
  margin-right: 9px;
  margin-left: 6px;
}

.model {
  color: var(--blue);
}

.description {
  margin-bottom: 28px;
}

.line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.details {
  color: var(--text-details);
  font-size: 12px;
  line-height: 1.5;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--text-header);
  opacity: 0.1;
  margin: 0 6px;
  vertical-align: middle;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 44px;
  padding: 12px 50px;
  text-align: center;
  border-radius: 12px;
  background: #3cae25;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--hover-blue);
}
