.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.photo {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
}

.model {
  color: var(--blue);
}

.first_line {
  margin-bottom: 4px;
}

.details {
  color: var(--text-details);
  font-size: 12px;
  line-height: 1.5;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--text-header);
  opacity: 0.1;
  margin: 0 6px;
  vertical-align: middle;
}

.description {
  color: var(--text-header);
  line-height: 1.42;
  margin-top: 14px;
}

.accessories {
  color: var(--text-header);
  line-height: 1.42;
  margin-bottom: 8px;
}

.conditions_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conditions {
  color: var(--text-header);
  line-height: 1.42;
}

.conditions_block {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.condition {
  color: var(--text-conditions);
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.24px;
  background-color: var(--background);
  padding: 7px 14px;
  border-radius: 35px;
}

.condition_meaning {
  color: var(--blue);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: block;
  min-width: 168px;
  width: fit-content;
  height: 44px;
  padding: 12px 50px;
  border-radius: 12px;
  background: #3cae25;
  color: var(--white);
  font-weight: 600;
  line-height: 1.42;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--hover-blue);
}
